---
server: irc.freenode.net
port: 6666
ircname: shelly cooper
username: shellbot
nick: shellbot
# nickserv: nickservpswd
# sslcrt: nick.crt
# sslkey: nick.key
# shell: /bin/bash
# daemon: true
# log: log.out
authorizations:
  - '~fully@authorized/personal'
channels:
  - '#shellbot'
